<div class="container">
  <form
    [formGroup]="bookingForm"
    (ngSubmit)="submitForm()"
    class="bform"
    *ngIf="!isFormSubmitted; else successMessageTemplate"
  >
    <div *ngIf="currentSection === 1" class="fwrap">
      <div class="form-group">
        <div class="fieldwrap">
          <i class="fa fa-user fa-wml"></i>
          <input
            placeholder="Full Name"
            type="text"
            id="username"
            formControlName="username"
            class="form-control"
          />
        </div>
        <div
          class="text-danger"
          style="color: red; font-size: 10px"
          *ngIf="
            bookingForm.get('username')?.hasError('required') &&
            bookingForm.get('username')?.touched
          "
        >
          <i class="fas fa-exclamation-circle"></i> Username is required.
        </div>
      </div>

      <!-- WhatsApp Number -->
      <div class="form-group">
        <div class="fieldwrap">
          <i class="fa-brands fa-whatsapp fa-wml"></i>
          <input
            placeholder="Whatsapp Number"
            type="tel"
            id="whatsappNo"
            formControlName="whatsappNo"
            class="form-control"
          />
        </div>
        <div
          class="text-danger"
          style="color: red; font-size: 10px"
          *ngIf="
            bookingForm.get('whatsappNo')?.hasError('required') &&
            bookingForm.get('whatsappNo')?.touched
          "
        >
          <i class="fas fa-exclamation-circle"></i> WhatsApp Number is required.
        </div>
      </div>

      <!-- Contact Number -->
      <div class="form-group">
        <div class="fieldwrap">
          <i class="fa fa-phone fa-wml"></i>
          <input
            placeholder="Contact Number"
            type="tel"
            id="contactNo"
            formControlName="contactNo"
            class="form-control"
          />
        </div>
        <div
          class="text-danger"
          style="color: red; font-size: 10px"
          *ngIf="
            bookingForm.get('contactNo')?.hasError('required') &&
            bookingForm.get('contactNo')?.touched
          "
        >
          <i class="fas fa-exclamation-circle"></i> Contact Number is required.
        </div>
      </div>

      <!-- Nationality -->
      <div class="form-group">
        <div class="fieldwrap">
          <i class="fa fa-globe fa-wml"></i>
          <input
            placeholder="Nationality"
            type="text"
            id="Nationality"
            formControlName="nationality"
            class="form-control"
          />
        </div>
        <div
          class="text-danger"
          style="color: red; font-size: 10px"
          *ngIf="
            bookingForm.get('username')?.hasError('required') &&
            bookingForm.get('username')?.touched
          "
        >
          <i class="fas fa-exclamation-circle"></i> Username is required.
        </div>
      </div>

      <!-- City Coming From -->
      <div class="form-group">
        <div class="fieldwrap">
          <i class="fa fa-building fa-wml"></i>
          <input
            placeholder="City Coming from"
            type="text"
            id="cityComingFrom"
            formControlName="cityComingFrom"
            class="form-control"
          />
        </div>
        <div
          class="text-danger"
          style="color: red; font-size: 10px"
          *ngIf="
            bookingForm.get('cityComingFrom')?.hasError('required') &&
            bookingForm.get('cityComingFrom')?.touched
          "
        >
          <i class="fas fa-exclamation-circle"></i> City Coming From is
          required.
        </div>
      </div>
      <!-- Cottage (Dropdown) -->
      <div class="form-group">
        <div class="fieldwrap">
          <i class="fa-solid fa-bed fa-wml"></i>
          <select id="cottage" formControlName="cottage" class="form-control">
            <option value="default">Select Cottage</option>
            <option value="Cottage A">Cottage A</option>
            <option value="Cottage B">Cottage B</option>
            <option value="Cottage C">Cottage C</option>
          </select>
        </div>
        <div
          class="text-danger"
          style="color: red; font-size: 10px"
          *ngIf="
            bookingForm.get('cottage')?.hasError('required') &&
            bookingForm.get('cottage')?.touched
          "
        >
          <i class="fas fa-exclamation-circle"></i> Cottage is required.
        </div>
      </div>
    </div>
    <!-- Username -->
    <div *ngIf="currentSection === 2" class="fwrap">
      <!-- No of Guests (Dropdown) -->
      <div class="form-group">
        <div class="fieldwrap">
          <i class="fa-solid fa-people-group fa-wml"></i>
          <select id="nof" formControlName="nof" class="form-control">
            <option value="default">No of Persons Arriving</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6+">6+</option>
          </select>
        </div>
        <div
          class="text-danger"
          style="color: red; font-size: 10px"
          *ngIf="
            bookingForm.get('nof')?.hasError('required') &&
            bookingForm.get('nof')?.touched
          "
        >
          <i class="fas fa-exclamation-circle"></i> No. of Guests is required.
        </div>
      </div>

      <!-- Arrival Date (Calendar) -->
      <div class="form-group">
        <div class="fieldwrap">
          <i class="fa-solid fa-people-group fa-wml"></i>
          <input
            id="arrivalDate"
            formControlName="arrivalDate"
            class="form-control"
            placeholder="sadasd"
            placeholder="Arrival Date"
            class="textbox-n"
            type="text"
            onfocus="(this.type='date')"
            onblur="(this.type='text')"
          />
        </div>
        <div
          class="text-danger"
          style="color: red; font-size: 10px"
          *ngIf="
            bookingForm.get('arrivalDate')?.hasError('required') &&
            bookingForm.get('arrivalDate')?.touched
          "
        ></div>
        <i class="fas fa-exclamation-circle"></i> Arrival Date is required.
      </div>
      <!-- Departure Date (Calendar) -->
      <div class="form-group">
        <div class="fieldwrap">
          <i class="fa-solid fa-people-group fa-wml"></i>
          <input
            type="text"
            id="departureDate"
            formControlName="departureDate"
            placeholder="Departure Date"
            class="form-control"
            type="text"
            onfocus="(this.type='date')"
            onblur="(this.type='text')"
          />
        </div>
        <div
          class="text-danger"
          style="color: red; font-size: 10px"
          *ngIf="
            bookingForm.get('departureDate')?.hasError('required') &&
            bookingForm.get('departureDate')?.touched
          "
        >
          <i class="fas fa-exclamation-circle"></i> Departure Date is required.
        </div>
      </div>

      <!-- Email -->
      <div class="form-group">
        <div class="fieldwrap">
          <i class="fa-solid fa-envelope fa-wml"></i>

          <input
            type="email"
            id="email"
            formControlName="email"
            class="form-control"
            placeholder="Enter your email"
          />
        </div>
        <div
          class="text-danger"
          style="color: red; font-size: 10px"
          *ngIf="
            bookingForm.get('email')?.hasError('required') &&
            bookingForm.get('email')?.touched
          "
        >
          <i class="fas fa-exclamation-circle"></i> Email is required.
        </div>
        <div
          class="text-danger"
          style="color: red; font-size: 10px"
          *ngIf="
            bookingForm.get('email')?.hasError('email') &&
            bookingForm.get('email')?.touched
          "
        >
          <i class="fas fa-exclamation-circle"></i> Please enter a valid email.
        </div>
      </div>
    </div>

    <!-- Navigation Buttons -->
    <div class="bwrpf">
      <button
        *ngIf="currentSection > 1"
        (click)="previousSection()"
        class="ibtn"
      >
        <img src="../../assets/img/leftarrow.png" alt="" />
      </button>
      <button
        *ngIf="currentSection < totalSections"
        (click)="nextSection()"
        class="ibtn"
      >
        <img src="../../assets/img/rightarrow.png" alt="" />
      </button>
      <button
        *ngIf="currentSection === totalSections"
        type="submit"
        class="btn btn-primary"
      >
        Book Now<i class="fas fa-check fa-new"></i>
      </button>
    </div>
  </form>
  <ng-template #successMessageTemplate class="bform">
    <div class="success-message">
      <p>
        Hi {{ submittedUserData?.username }}! Your booking is successful. Our
        reception will give you a call on {{ submittedUserData?.contactNo }} if
        rooms are available for that cottage.
      </p>
    </div>
  </ng-template>
</div>
